DISCORD_TOKEN=DISCORD_TOKEN
SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET
# public address
REDIRECT_URI=REDIRECT_URI
# Bind addr the internal app listens to. Reverse proxy points to here
BIND_ADDR=BIND_ADDR