DISCORD_TOKEN=DISCORD_TOKEN
SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET
# public address. This isn't the actual redirect uri, just the domain for it. Redirect uri needs to go to spotify
REDIRECT_URI=REDIRECT_URI
# Reverse proxy points to here
BIND_ADDR=BIND_ADDR